-- vim:fileencoding=utf-8:filetype=lua
package.path = "{{ .chezmoi.homeDir }}/.config/nvim/?.lua;" .. package.path

require("plugins")

require("settings")
require("variables")
require("colorscheme") ---@diagnostic disable-line: different-requires
require("keymaps")
require("autocommands")

require("lsp")
require("treesitter")
require("filetype")
