[Unit]
Description=Himalaya email notifier
After=network.target

[Service]
Environment=RUST_LOG=debug
ExecStart=/usr/bin/himalaya watch
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
