# vim:filetype=zsh
{{- if eq .chezmoi.os "linux" }}

__osc7-cwd() {
  setopt localoptions extendedglob
  input=( ${(s::)PWD} )
  uri=${(j::)input/(#b)([^A-Za-z0-9_.\!~*\'\(\)-\/])/%${(l:2::0:)$(([##16]#match))}}
  print -n "\e]7;file://${HOSTNAME}${uri}\e\\"
}

autoload -Uz add-zsh-hook
add-zsh-hook -Uz chpwd osc7-cwd

{{- end }}
