# vim:filetype=zsh
function oc() {
  # For postgresql MCP
  export POSTGRES_CONNECTION_STRING="postgres://postgres:postgres@localhost:5432/postgres"

  # For LSP servers
  export PATH="$HOME/.local/share/nvim/mason/bin:$PATH"
  export OPENCODE_DISABLE_LSP_DOWNLOAD=true
  export OPENCODE_EXPERIMENTAL_LSP_TOOL=true

  # For Gemini
  GOOGLE_VERTEX_PROJECT=$(gcloud config get project)
  export GOOGLE_VERTEX_PROJECT
  export GOOGLE_VERTEX_LOCATION=global
  export VERTEX_LOCATION=global

  opencode "$@"
}

function greek-letters() {
  print -P "alpha: %F{red}α%f,beta: %F{red}β%f,gamma: %F{red}γ%f,delta: %F{red}δ%f,epsilon: %F{red}ε%f,theta: %F{red}θ%f,lambda: %F{red}λ%f,mu: %F{red}μ%f,pi: %F{red}π%f,sigma: %F{red}σ%f,phi: %F{red}φ%f,omega: %F{red}ω%f" \
    | tr ',' '\n' \
    | fzf --ansi \
    | awk '{ print $2 }'
}

function mux() {
  local workspace=${1:-$(greek-letters)}
  tmux attach -t "$workspace" || tmux new -s "$workspace"
}

{{- if eq .chezmoi.os "linux" }}

function nord_dns() {
  device=$(/usr/bin/ls /sys/class/ieee80211/*/device/net)
  nmcli dev mod $device ipv4.dns "103.86.96.100 103.86.99.100"
}

function osc7_cwd() {
  setopt localoptions extendedglob
  input=( ${(s::)PWD} )
  uri=${(j::)input/(#b)([^A-Za-z0-9_.\!~*\'\(\)-\/])/%${(l:2::0:)$(([##16]#match))}}
  print -n "\e]7;file://${HOSTNAME}${uri}\e\\"
}

{{- end }}

function prep-db-clickhouse() {
  export SQL_TARGET=clickhouse

  local port=9440
  local suffix=":$port/encord_analytics"
  local uri_local="clickhouse://default:default@localhost${suffix/9440/9000}" uri_dev uri_stg uri_eu_ro uri_us_ro

  uri_dev="clickhouse://$(__op-clickhouse-dev-get username):$(__op-clickhouse-dev-get password --reveal)@$(__op-clickhouse-dev-get 'server url')$suffix"
  uri_stg="clickhouse://$(__op-clickhouse-stg-get username):$(__op-clickhouse-stg-get password --reveal)@$(__op-clickhouse-stg-get 'server url')$suffix"
  uri_eu_ro="clickhouse://$(__op-clickhouse-eu-ro-get username):$(__op-clickhouse-eu-ro-get password --reveal)@$(__op-clickhouse-eu-ro-get 'server url')$suffix"
  uri_us_ro="clickhouse://$(__op-clickhouse-us-ro-get username):$(__op-clickhouse-us-ro-get password --reveal)@$(__op-clickhouse-us-ro-get 'server url')$suffix"

  # For nvim-dbee
  export DBEE_CONNECTIONS='[
    { "type": "clickhouse", "name": "5-clickhouse-local", "url": "'$uri_local'" },
    { "type": "clickhouse", "name": "4-clickhouse-dev", "url": "'$uri_dev'?secure=true" },
    { "type": "clickhouse", "name": "3-clickhouse-stg", "url": "'$uri_stg'?secure=true" },
    { "type": "clickhouse", "name": "2-clickhouse-prd-us-ro", "url": "'$uri_us_ro'?secure=true" },
    { "type": "clickhouse", "name": "1-clickhouse-prd-eu-ro", "url": "'$uri_eu_ro'?secure=true" }
  ]'
}

function prep-db-postgres() {
  export SQL_TARGET=postgres

  local suffix=":5432/postgres"
  local uri_local="postgres://postgres:postgres@localhost$suffix" uri_dev uri_stg uri_prd_eu_ro uri_prd_us_ro

  uri_dev="postgres://$(__op-dev-get username):$(__op-dev-get password --reveal)@$(__op-dev-get 'DEV IP')$suffix"
  uri_stg="postgres://$(__op-dev-get username):$(__op-dev-get password --reveal)@$(__op-dev-get 'STAGING IP')$suffix"
  uri_prd_eu_ro="postgres://$(__op-prd-eu-ro-get username):$(__op-prd-eu-ro-get password --reveal)@$(__op-prd-eu-ro-get ip)$suffix"
  uri_prd_us_ro="postgres://$(__op-prd-us-ro-get username):$(__op-prd-us-ro-get password --reveal)@$(__op-prd-us-ro-get server)$suffix"

  # Escaping all '%' characters
  uri_prd_eu_ro=${uri_prd_eu_ro//\%/\%25}

  export DBEE_CONNECTIONS='[
    { "type": "postgres", "name": "5-postgres-local", "url": "'$uri_local'?sslmode=disable" },
    { "type": "postgres", "name": "4-postgres-dev", "url": "'$uri_dev'?sslmode=require" },
    { "type": "postgres", "name": "3-postgres-stg", "url": "'$uri_stg'?sslmode=require" },
    { "type": "postgres", "name": "2-postgres-prd-us-ro", "url": "'$uri_prd_us_ro'?sslmode=require" },
    { "type": "postgres", "name": "1-postgres-prd-eu-ro", "url": "'$uri_prd_eu_ro'?sslmode=require" }
  ]'
}
