# vim:filetype=zsh
alias ocs="opencode session list | fzf --header-lines=2 --sync | awk '{ print \$1 }'"

oc() {
  export OPENCODE_DISABLE_LSP_DOWNLOAD=true
  export OPENCODE_EXPERIMENTAL_LSP_TOOL=true
  export OPENCODE_EXPERIMENTAL_MARKDOWN=true

  # For LSP servers
  export PATH="$HOME/.local/share/nvim/mason/bin:$PATH"

  # For Gemini
  export GOOGLE_VERTEX_PROJECT=$(gcloud config get project)
  export GOOGLE_VERTEX_LOCATION=global
  export VERTEX_LOCATION=global

  # For postgresql MCP
  # export POSTGRES_CONNECTION_STRING="postgres://postgres:postgres@localhost:5432/postgres"

  # For google-docs MCP
  export GOOGLE_DOCS_MCP_CLIENT_ID=$(wpass api-keys/google-docs-mcp | rg 'client_id:' | awk '{ print $2 }')
  export GOOGLE_DOCS_MCP_CLIENT_SECRET=$(wpass api-keys/google-docs-mcp | head -1)

  opencode "$@"
}

greek-letters() {
  print -P "alpha: %F{red}α%f,beta: %F{red}β%f,gamma: %F{red}γ%f,delta: %F{red}δ%f,epsilon: %F{red}ε%f,theta: %F{red}θ%f,lambda: %F{red}λ%f,mu: %F{red}μ%f,pi: %F{red}π%f,sigma: %F{red}σ%f,phi: %F{red}φ%f,omega: %F{red}ω%f" \
    | tr ',' '\n' \
    | fzf --ansi \
    | awk '{ print $2 }'
}

mux() {
  local sessions workspace

  sessions=$(tmux list-sessions -F '#S' 2>/dev/null)

  if [[ -n "$1" ]]; then
    workspace="$1"
  elif [[ -n $sessions ]]; then
    workspace=$(echo "$sessions" | fzf)
  else
    workspace="$(greek-letters)"
  fi

  if [[ -n "$workspace" ]]; then
    tmux attach -t "$workspace" || tmux new -s "$workspace"
  fi
}

vdiff() {
  local arg=${1:-}

  if [[ -z $arg ]]; then
    nvim +DiffviewOpen
  else
    nvim "+DiffviewOpen $arg"
  fi
}

{{- if eq .chezmoi.os "linux" }}

nord_dns() {
  device=$(/usr/bin/ls /sys/class/ieee80211/*/device/net)
  nmcli dev mod $device ipv4.dns "103.86.96.100 103.86.99.100"
}

osc7_cwd() {
  setopt localoptions extendedglob
  input=( ${(s::)PWD} )
  uri=${(j::)input/(#b)([^A-Za-z0-9_.\!~*\'\(\)-\/])/%${(l:2::0:)$(([##16]#match))}}
  print -n "\e]7;file://${HOSTNAME}${uri}\e\\"
}

{{- end }}
