# vim:filetype=zsh
# History settings
HISTFILE="$HOME/.zhistory"
HISTSIZE=1000000                # 1 million entries
SAVEHIST=1000000                # 1 million entries

setopt BANG_HIST                # Treat the '!' character specially during expansion.
setopt CORRECT                  # Prompt for spelling correction of commands.
setopt EXTENDED_HISTORY         # Write the history file in the ":start:elapsed;command" format.
setopt HIST_BEEP                # Beep when accessing nonexistent history.
setopt HIST_EXPIRE_DUPS_FIRST   # Expire duplicate entries first when trimming history.
setopt HIST_FIND_NO_DUPS        # Do not display a line previously found.
setopt HIST_IGNORE_ALL_DUPS     # Delete old recorded entry if new entry is a duplicate.
setopt HIST_IGNORE_DUPS         # Don't record an entry that was just recorded again.
setopt HIST_IGNORE_SPACE        # Don't record an entry starting with a space.
setopt HIST_REDUCE_BLANKS       # Remove superfluous blanks before recording entry.
setopt HIST_SAVE_NO_DUPS        # Don't write duplicate entries in the history file.
setopt HIST_VERIFY              # Don't execute immediately upon history expansion.
setopt INC_APPEND_HISTORY       # Write to the history file immediately, not when the shell exits.
setopt SHARE_HISTORY            # Share history between all sessions.

# Customize spelling correction prompt.
SPROMPT='zsh: correct %F{red}%R%f to %F{green}%r%f [nyae]? '

# Remove usable components (/.-=) from WORDCHARS.
WORDCHARS=${WORDCHARS//[\/\.\-=]}

# Set what highlighters will be used.
# See https://github.com/zsh-users/zsh-syntax-highlighting/blob/master/docs/highlighters.md
ZSH_HIGHLIGHT_HIGHLIGHTERS=(main brackets pattern)
ZSH_HIGHLIGHT_STYLES[comment]='fg=8' # bright black

typeset -A ZSH_HIGHLIGHT_PATTERNS
ZSH_HIGHLIGHT_PATTERNS+=('sudo rm' 'fg=red,bold,bg=yellow')

# Set a custom path for the completion dump file.
# If none is provided, the default ${ZDOTDIR:-$HOME}/.zcompdump is used.
zstyle ':zim:completion' dumpfile "${ZDOTDIR:-$HOME}/.zcompdump-$ZSH_VERSION"

{{- if eq .chezmoi.os "linux" }}

autoload -Uz add-zsh-hook
add-zsh-hook -Uz chpwd osc7_cwd

{{- end }}
