{{- $work_email := promptString "work_email" -}}
encryption = "gpg"
[gpg]
  recipient = "22C3C7D640F1786810C7DD7C7DF52657018E5BD2"
[merge]
  command = "nvim"
  args = "-d"
[git]
  autoCommit = true
  autoPush = true
[data.work]
  email = "{{ $work_email }}"
