# Global variables
export LANG=en_GB.UTF-8
export LC_ALL=en_GB.UTF-8
export EDITOR=nvim
export REACT_EDITOR=nvim
export FZF_DEFAULT_OPTS='
  --color=gutter:0,spinner:3
  --color=hl:5,pointer:5,marker:2
  --color=hl+:5,fg+:7,bg+:0
  --height=50%
  --layout=reverse
'

{{- if eq .chezmoi.os "darwin" }}

export TOOLCHAINS=swift
export JDK_HOME="/usr/local/opt/openjdk"
export JAVA_HOME="$JDK_HOME/bin"

# Rewrite $PATH
PATH="/usr/local/bin:/usr/local/sbin:$(getconf PATH)"

# Replace macOS utilities with GNU ones
PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
PATH="/usr/local/opt/diffutils/bin:$PATH"
PATH="/usr/local/opt/findutils/libexec/gnubin:$PATH"
PATH="/usr/local/opt/gnu-getopt/bin:$PATH"
PATH="/usr/local/opt/gnu-indent/libexec/gnubin:$PATH"
PATH="/usr/local/opt/gnu-sed/libexec/gnubin:$PATH"
PATH="/usr/local/opt/gnu-tar/libexec/gnubin:$PATH"
PATH="/usr/local/opt/grep/libexec/gnubin:$PATH"

# Use OpenJDK
PATH="$JAVA_HOME:$PATH"

{{- else if eq .chezmoi.os "linux" }}

export BROWSER=firefox
export GPG_TTY=$(tty)

# XDG base directories
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
export XDG_DATA_DIRS=/usr/local/share:/usr/share
export XDG_CONFIG_DIRS=/etc/xdg

# IBus
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus

PATH="$HOME/.local/bin:$PATH"

{{- end }}

# Local node env
PATH="./node_modules/.bin:$PATH"

# Global rvm env
PATH="$HOME/.rvm/bin:$PATH"

export PATH

# Onfido secrets
export SDK_TOKEN_FACTORY_SECRET="{{ pass "dotfiles/zshrc/onfido-sdk-token" }}"
export LOKALISE_TOKEN="{{ pass "dotfiles/zshrc/lokalise-token" }}"
export LOKALISE_PROJECT_ID="{{ pass "dotfiles/zshrc/lokalise-project-id" }}"
export BROWSERSTACK_USERNAME="{{ pass "dotfiles/zshrc/browserstack-username" }}"
export BROWSERSTACK_ACCESS_KEY="{{ pass "dotfiles/zshrc/browserstack-access-key" }}"

# Custon functions
function __load-autojump() {
{{- if eq .chezmoi.os "darwin" }}

  [ -f /usr/local/etc/profile.d/autojump.sh ] && . /usr/local/etc/profile.d/autojump.sh

{{- else if eq .chezmoi.os "linux" }}

  [ -f $HOME/.autojump/etc/profile.d/autojump.sh ] && . $HOME/.autojump/etc/profile.d/autojump.sh

{{- end }}
}

# Colours
function __load-colors() {
  # Man page
  export MANPAGER='less -s -M +Gg'

  # Less
  export LESS="--RAW-CONTROL-CHARS"
  export LESS_TERMCAP_mb=$(tput bold; tput setaf 2) # green
  export LESS_TERMCAP_md=$(tput bold; tput setaf 6) # cyan
  export LESS_TERMCAP_me=$(tput sgr0)
  export LESS_TERMCAP_so=$(tput bold; tput setaf 3; tput setab 4) # yellow on blue
  export LESS_TERMCAP_se=$(tput rmso; tput sgr0)
  export LESS_TERMCAP_us=$(tput smul; tput bold; tput setaf 7) # white
  export LESS_TERMCAP_ue=$(tput rmul; tput sgr0)
  export LESS_TERMCAP_mr=$(tput rev)
  export LESS_TERMCAP_mh=$(tput dim)
  export LESS_TERMCAP_ZN=$(tput ssubm)
  export LESS_TERMCAP_ZV=$(tput rsubm)
  export LESS_TERMCAP_ZO=$(tput ssupm)
  export LESS_TERMCAP_ZW=$(tput rsupm)
  export GROFF_NO_SGR=1

  # Bat
  export BAT_THEME='Sublime Snazzy'
}

function __load-nvm() {
{{- if eq .chezmoi.os "darwin" }}

  export NVM_DIR=/usr/local/opt/nvm

{{- else if eq .chezmoi.os "linux" }}

  export NVM_DIR=$HOME/.nvm

{{- end }}

  export NVM_LAZY_LOAD=true

  if [[ -s $NVM_DIR/nvm.sh ]]; then
    source $NVM_DIR/nvm.sh --no-use
    {{- if eq .chezmoi.os "linux" }}
    nvm use default
    {{- end }}
  fi
}

# Auto call `nvm use` in folders with .nvmrc
function __load-nvmrc() {
  local node_version=$(nvm version)
  local nvmrc_path=$(nvm_find_nvmrc)

  if [[ -n $nvmrc_path ]]; then
    local nvmrc_node_version=$(nvm version "$(cat "${nvmrc_path}")")

    if [[ $nvmrc_node_version = "N/A" ]]; then
      nvm install
      nvm use --delete-prefix
    elif [[ $nvmrc_node_version != $node_version ]]; then
      nvm use --delete-prefix
    fi
  elif [[ $node_version != $(nvm version default) ]]; then
    echo "Reverting to nvm default version"
    nvm use --delete-prefix default
  fi
}

function __load-pure-prompt() {
  source ~/.bash_prompt
}

function __load-pyenv() {
  command -v pyenv > /dev/null && eval "$(pyenv init -)"
}

{{- if eq .chezmoi.os "linux" }}

function __load-rvm() {
  RVM_DIR=/usr/share/rvm
  [[ -s "$RVM_DIR/scripts/rvm" ]] && source "$RVM_DIR/scripts/rvm"
}

function __load-ssh() {
  export SSH_ASKPASS="$HOME/.local/bin/ssh-pass"
  eval $(keychain --eval --quiet $HOME/.ssh/id_ed25519)
}

{{- end }}

function __load-plugins() {
{{- if eq .chezmoi.os "darwin" }}

  source /usr/local/opt/fzf/shell/key-bindings.bash
  source /usr/local/opt/fzf/shell/completion.bash

{{- else if eq .chezmoi.os "linux" }}

  source /usr/share/fzf/key-bindings.bash
  source /usr/share/fzf/completion.bash

{{- end }}
}

# Aliases
alias adb-screenshot="adb shell screencap -p | \
  perl -pe 's/\x0D\x0A/\x0A/g' > \
  $HOME/Downloads/Android_screenshot_$(date +%Y-%m-%d_%H.%M.%S).png"

alias color-palette="curl -s https://gist.githubusercontent.com/ethan605/ea1b698c3395b9339748e8a0131136a5/raw | bash"

alias fzfind="find * -type f | fzf"

alias tme="tmux attach -t ethanify || tmux new -s ethanify"
alias tmo="tmux attach -t onfido || tmux new -s onfido"

# Remap system commands
# alias bat="env -uCOLORTERM bat --number --color always --wrap never"
alias ls="ls --almost-all --color --human-readable --time-style=+'[%Y-%m-%d %H:%M:%S]'"
alias nano=nvim
alias rm="rm -i"
alias vi=nvim

{{- if eq .chezmoi.os "darwin" }}

alias load-time="time /usr/local/bin/zsh -ic exit"
alias policy-off="sudo spctl --master-disable"
alias policy-on="sudo spctl --master-enable"
alias xdg-open="open"

{{- else if eq .chezmoi.os "linux" }}

alias load-time="time /usr/bin/zsh -ic exit"
alias ncmpcpp="ncmpcpp --bindings $HOME/.config/ncmpcpp/bindings"
alias wl-chrome="google-chrome-stable -enable-features=UseOzonePlatform -ozone-platform=wayland"

{{- end }}

# Autoloads
__load-colors
__load-autojump
__load-pure-prompt
__load-plugins

{{- if eq .chezmoi.os "linux" }}

__load-ssh
__load-rvm

{{- end }}

__load-nvm
__load-pyenv
