# vim:filetype=zsh
# zsh loading sequence:
#   - /etc/zshenv     & ~/.zshenv
#   - /etc/zprofile   & ~/.zprofile     <- this file
#   - /etc/zshrc      & ~/.zshrc
#   - /etc/zlogin     & ~/.zlogin
#   - /etc/zlogout    & ~/.zlogout
#
# This file contains only environment terraforming for login shell

export FZF_DEFAULT_OPTS='
  --ansi
  --bind=ctrl-y:preview-up,ctrl-e:preview-down,ctrl-u:preview-page-up,ctrl-d:preview-page-down
  --color=current-fg:7,current-bg:0,hl:5,current-hl:5
  --color=gutter:0,header:4,marker:2,pointer:5,prompt:2,spinner:3
  --cycle
  --marker="›"
  --pointer="›"
  --prompt="❯ "
  --reverse
  --no-height
'
export FZF_CTRL_R_OPTS='
  --preview="echo {2..} | bat --color=always --language=zsh --number --plain"
  --bind="ctrl-y:execute-silent(echo -n {2..} | pbcopy)+abort"
  --header="Press CTRL-Y to copy command into clipboard"
'

{{- if eq .chezmoi.os "linux" }}

export TERMINFO=/usr/share/terminfo

# Input method
export GTK_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export QT_IM_MODULE=fcitx

{{- end }}

export PATH="$HOME/.local/bin:$PATH"

{{- if ne .machine_id "devpod" }}

# For orbstack - needs to be after $PATH rewrite
export DOCKER_HOST="unix://$HOME/.orbstack/run/docker.sock"

if [[ -f $HOME/.orbstack/shell/init.zsh ]]; then
  source "$HOME/.orbstack/shell/init.zsh"
fi

{{- end }}
