# vim:filetype=gitconfig
[includeIf "hasconfig:remote.*.url:git@github.com:{{ .work_org_alpha }}/*"]
  path = ~/.gitconfig-work-id
[includeIf "hasconfig:remote.*.url:git@gist.github.com:{{ .work_org_alpha }}/*"]
  path = ~/.gitconfig-work-id
[url "git@github.work:{{ .work_org_alpha }}"]
  insteadOf = https://github.com/{{ .work_org_alpha }}
[url "git@github.work:{{ .work_org_alpha }}"]
  insteadOf = git@github.com:{{ .work_org_alpha }}
[url "ssh://git@github.work/{{ .work_org_alpha }}"]
  insteadOf = ssh://git@github.com/{{ .work_org_alpha }}

[includeIf "hasconfig:remote.*.url:git@github.com:{{ .work_org_beta }}/*"]
  path = ~/.gitconfig-work-id
[includeIf "hasconfig:remote.*.url:git@gist.github.com:{{ .work_org_beta }}/*"]
  path = ~/.gitconfig-work-id
[url "git@github.work:{{ .work_org_beta }}"]
  insteadOf = https://github.com/{{ .work_org_beta }}
[url "git@github.work:{{ .work_org_beta }}"]
  insteadOf = git@github.com:{{ .work_org_beta }}
[url "ssh://git@github.work/{{ .work_org_beta }}"]
  insteadOf = ssh://git@github.com/{{ .work_org_beta }}
