# vim:filetype=zsh:foldenable:foldmethod=marker:foldmarker=[[[,]]]
# zsh loading sequence:
#   - /etc/zshenv     & ~/.zshenv
#   - /etc/zprofile   & ~/.zprofile
#   - /etc/zshrc      & ~/.zshrc      <- this file
#   - /etc/zlogin     & ~/.zlogin
#   - /etc/zlogout    & ~/.zlogout
#
# This file sources contents in `~/.zshrc.d/` sequentially in lexicographic order

# Exit early if non-interactive (defensive guard)
if [[ ! -o interactive ]]; then
  return
fi

# (N) means null glob
for conf in "$HOME/.zshrc.d/"*.zsh(N); do
  source "$conf"
done

unset conf
