# vim:filetype=gitconfig
[user]
  email = {{ .work_email }}
  # signingkey = {{ .work_gpg_id }}
  signingkey = ~/.ssh/id_ecdsa.work.pub
[gpg]
  format = ssh
[gpg "ssh"]
  # ~/.ssh/allowed_signers
  # {{ .work_email }} ecdsa-sha2-nistp256 AAA...
  allowedSignersFile = ~/.ssh/allowed_signers
