# vim:filetype=zsh
# zsh loading sequence:
#   - /etc/zshenv     & ~/.zshenv     <- this file
#   - /etc/zprofile   & ~/.zprofile
#   - /etc/zshrc      & ~/.zshrc
#   - /etc/zlogin     & ~/.zlogin
#   - /etc/zlogout    & ~/.zlogout
#
# This file contains only environment terraforming for non-login shell

{{- if eq .machine_id "devpod" }}

export skip_global_compinit=1

export CC=/usr/bin/gcc
export CXX=/usr/bin/gcc
export LANG=C.UTF-8

{{- else }}

export CC=clang
export CXX=clang
export LANG=en_GB.UTF-8

{{- end }}

export LC_ALL="$LANG"
export LC_COLLATE="$LANG"
export LC_CTYPE="$LANG"
export LC_MESSAGES="$LANG"
export LC_MONETARY="$LANG"
export LC_NUMERIC="$LANG"
export LC_TIME="$LANG"

export EDITOR=nvim
export REACT_EDITOR=nvim
export VISUAL=nvim

# export BAT_THEME=base16
export BAT_THEME='Sublime Snazzy'
export LESS='--ignore-case --jump-target=4 --RAW-CONTROL-CHARS --LONG-PROMPT'
export MANPAGER='nvim +Man!'

export COMPOSE_BAKE=true
export NODE_OPTIONS="--max-old-space-size=8192"
export TOOLCHAINS=swift

# XDG base directories
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"

{{- if eq .chezmoi.os "linux" }}

export XDG_DATA_DIRS=/usr/local/share:/usr/share:/var/lib/flatpak/exports/share
export XDG_CONFIG_DIRS=/etc/xdg

{{- end }}
