# vim:filetype=zsh
# zsh loading sequence:
#   - /etc/zshenv     & ~/.zshenv
#   - /etc/zprofile   & ~/.zprofile     <- this file
#   - /etc/zshrc      & ~/.zshrc
#   - /etc/zlogin     & ~/.zlogin
#   - /etc/zlogout    & ~/.zlogout
#
# This file contains only environment terraform

export LANG=en_GB.UTF-8
export LC_COLLATE="$LANG"
export LC_CTYPE="$LANG"
export LC_MESSAGES="$LANG"
export LC_MONETARY="$LANG"
export LC_NUMERIC="$LANG"
export LC_TIME="$LANG"
export LC_ALL="$LANG"

export EDITOR=nvim
export REACT_EDITOR=nvim
export VISUAL=nvim

export BAT_THEME='Sublime Snazzy'
export LESS='--LONG-PROMPT --RAW-CONTROL-CHARS --squeeze-blank-lines --tabs=2'
export MANPAGER='less +Gg'

export CC=clang
export COMPOSE_BAKE=true
export CXX=clang++
export DOCKER_HOST="unix://$HOME/.orbstack/run/docker.sock"
export NODE_OPTIONS="--max-old-space-size=8192"
export TOOLCHAINS=swift

export FZF_DEFAULT_OPTS='
  --bind=ctrl-y:preview-up,ctrl-e:preview-down,ctrl-u:preview-page-up,ctrl-d:preview-page-down
  --color=fg+:7,bg+:0,hl:5,hl+:5
  --color=gutter:0,header:4,marker:2,pointer:5,prompt:2,spinner:3
  --cycle
  --marker="›"
  --pointer="›"
  --prompt="❯ "
  --reverse
  --no-height
'
export FZF_CTRL_R_OPTS='
  --preview="echo {2..} | bat --language=zsh --color=always"
  --bind="ctrl-y:execute-silent(echo -n {2..} | pbcopy)+abort"
  --header="Press CTRL-Y to copy command into clipboard"
'

# XDG base directories
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"

{{- if eq .chezmoi.os "linux" }}

export XDG_DATA_DIRS=/usr/local/share:/usr/share:/var/lib/flatpak/exports/share
export XDG_CONFIG_DIRS=/etc/xdg
export TERMINFO=/usr/share/terminfo

# Input method
export GTK_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export QT_IM_MODULE=fcitx

{{- end }}

# For zimfw
export ZIM_HOME="${ZDOTDIR:-$HOME}/.zim"

# For homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"

# For orbstack
if [[ -f $HOME/.orbstack/shell/init.zsh ]]; then
  source "$HOME/.orbstack/shell/init.zsh"
fi
