# vim:filetype=zsh
# zsh loading sequence:
#   - /etc/zshenv     & ~/.zshenv     <- this file
#   - /etc/zprofile   & ~/.zprofile
#   - /etc/zshrc      & ~/.zshrc
#   - /etc/zlogin     & ~/.zlogin
#   - /etc/zlogout    & ~/.zlogout
#
# This file contains only environment terraforming for non-login shell
