[General]
buttons=@Invalid()
contrastOpacity=191
contrastUiColor=#57c7ff
disabledTrayIcon=false
drawColor=#ff5c57
drawThickness=4
filenamePattern=%F_%H-%M-%S
saveAsFileExtension=png
savePath={{ .chezmoi.homeDir }}/Downloads
savePathFixed=false
showHelp=false
showStartupLaunchMessage=false
startupLaunch=true
uiColor=#ff6ac1

[Shortcuts]
TAKE_SCREENSHOT=Ctrl+Shift+x
