<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>ethanify.dotfiles.auto-update</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-c</string>
		<string>"$HOME/.config/ethanify/auto-update_darwin"</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/ethanify.dotfiles.auto-update.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/ethanify.dotfiles.auto-update.stdout</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>11</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
