# vim:fileencoding=utf-8:syntax=config
Host *
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519

{{- if eq .chezmoi.os "darwin" }}

  UseKeychain yes

{{- end }}

{{- if eq .chezmoi.os "linux" }}

Host {{ .work.git_domain }}
  ProxyCommand ssh -q ethan.nguyen@work-macbook.local nc %h %p

{{- end }}
