// vim:fileencoding=utf-8:syntax=json5
[
{{- if eq .chezmoi.hostname "PF3XSEPR" }}
  {
    "output": ["Dell Inc. DELL U2419H CF6CV13"],
    "position": "top",
    "layer": "bottom",
    "height": 30,

    "modules-left": [
      "sway/workspaces",
      "sway/mode"
    ],
    "modules-center": [
      "idle_inhibitor",
      "clock"
    ],
    "modules-right": [
      "pulseaudio",
      "tray",
      "custom/arch"
    ],

    // -------------------------------------------------------------------------
    // Modules
    // -------------------------------------------------------------------------

    "sway/workspaces": {
      "all-outputs": false,
      "disable-scroll": true,
      "format": "{name}"
    },

    "sway/mode": {
      "format": "    {}",
      "tooltip": false
    },

    "idle_inhibitor": {
      "format": "{icon}",
      "format-icons": {
        "activated": " ",
        "deactivated": " "
      },
      "tooltip": false
    },

    "clock": {
      "interval": 1,
      "format": "{:%e %b %H:%M}",
      "tooltip-format": "{:%A %e %B %Y %H:%M:%S}"
    },

    "pulseaudio": {
      "scroll-step": 1,
      "format": "{icon}  {volume}%",
      "format-bluetooth": "{icon}  {volume}% ",
      "format-muted": "  ",
      "format-icons": {
        "car": " ",
        "handsfree": " ",
        "headphones": " ",
        "headset": " ",
        "phone": " ",
        "portable": " ",
        "default": [" ", " "]
      },
      "on-click": "pavucontrol"
    },

    "tray": {
      "icon-size": 22,
      "spacing": 10,
    },

    "custom/arch": {
      "format": " ",
      "tooltip": false
    }
  },
{{- end }}
  {
    {{- if eq .chezmoi.hostname "PF3XSEPR" }}
    "output": ["eDP-1", "Dell Inc. DELL P2421DC B12WS03"],
    {{- end }}
    "position": "top",
    "layer": "bottom",
    "height": 30,

    "modules-left": [
      "sway/workspaces",
      "sway/mode",
      "mpd"
    ],
    "modules-center": [
      "idle_inhibitor",
      "clock"
    ],
    "modules-right": [
      "custom/vpn",
      {{- if eq .chezmoi.hostname "lunarch" }}
      "custom/nordlynx",
      {{- end }}
      "network",
      "cpu",
      "memory",
      "temperature",
      "pulseaudio",
      {{- if eq .chezmoi.hostname "PF3XSEPR" }}
      "backlight",
      "battery",
      "custom/performance-mode",
      {{- end }}
      "tray",
      "custom/arch"
    ],

    // -------------------------------------------------------------------------
    // Modules
    // -------------------------------------------------------------------------

    "sway/workspaces": {
      "all-outputs": false,
      "disable-scroll": true,
      "format": "{name}"
    },

    "sway/mode": {
      "format": "    {}",
      "tooltip": false
    },

    "mpd": {
      "format": "{stateIcon}{randomIcon}{repeatIcon}{singleIcon}  {album} - {title} ({elapsedTime:%M:%S}/{totalTime:%M:%S})",
      "format-disconnected": "Disconnected  ",
      "format-stopped": "Stopped  ",
      "interval": 2,
      "random-icons": {
        "on": " "
      },
      "repeat-icons": {
        "on": " "
      },
      "single-icons": {
        "on": " 1"
      },
      "state-icons": {
        "paused": " ",
        "playing": " "
      },
      "on-click": "mpc toggle",
      "on-click-right": "foot -e ncmpcpp",
      "tooltip-format": "MPD (connected)",
      "tooltip-format-disconnected": "MPD (disconnected)"
    },

    "idle_inhibitor": {
      "format": "{icon}",
      "format-icons": {
        "activated": " ",
        "deactivated": " "
      },
      "tooltip": false
    },

    "clock": {
      "interval": 1,
      "format": "{:%e %b %H:%M}",
      "tooltip-format": "{:%A %e %B %Y %H:%M:%S}"
    },

    "network": {
      "interval": 5,
      "format-wifi": "    {essid}",
      "format-ethernet": " ",
      "format-disconnected": " ",
      "tooltip-format-wifi": "{bandwidthUpBits} {bandwidthDownBits} | {ifname}: {ipaddr}",
      "tooltip-format-ethernet": "{bandwidthUpBits} {bandwidthDownBits} | {ifname}: {ipaddr}",
      "tooltip-format-disconnected": "Network disconnected"
    },

    "custom/vpn": {
      "interval": 5,
      "format": "旅 VPN",
      "exec": "thinkpad-utils vpn-info",
      "exec-if": "test -d /proc/sys/net/ipv4/conf/tun0",
      "return-type": "json",
      "tooltip": true
    },

    "custom/nordlynx": {
      "interval": 5,
      "format": "旅 VPN",
      "exec": "ip route | grep nordlynx"
    },

    "cpu": {
      "interval": 5,
      "format": "   {usage}%",
      "states": {
        "warning": 70,
        "critical": 90
      }
    },

    "memory": {
      "interval": 5,
      "format": "   {used:0.1f}GB",
      "tooltip-format": "Avail.: {avail:0.1f}GB | Total: {total:0.1f}GB",
      "states": {
        "warning": 70,
        "critical": 90
      }
    },

    "temperature": {
  {{- if eq .chezmoi.hostname "lunarch" }}
      "hwmon-path": "/sys/class/hwmon/hwmon1/temp1_input",
  {{- end }}
      "critical-threshold": 80,
      "interval": 5,
      "format": "{icon}  {temperatureC}°C",
      "format-icons": [
        "",
        "",
        "",
        "",
        "" 
      ],
      "on-click": "foot /usr/bin/zsh -c 'sensors | less'",
      "tooltip": true
    },

    "pulseaudio": {
      "scroll-step": 1,
      "format": "{icon}  {volume}%",
      "format-bluetooth": "{icon}  {volume}% ",
      "format-muted": "  ",
      "format-icons": {
        "car": " ",
        "handsfree": " ",
        "headphones": " ",
        "headset": " ",
        "phone": " ",
        "portable": " ",
        "default": [" ", " "]
      },
      "on-click": "pavucontrol"
    },

    "backlight": {
        "device": "intel_backlight",
        "format": "{icon} {percent}%",
        "format-icons": ["  ", "盛 "]
    },

    "battery": {
      "interval": 10,
      "states": {
        "warning": 30,
        "critical": 15
      },
      // Connected to AC
      "format": "  {capacity}% {icon}",
      // Not connected to AC
      "format-discharging": "  {capacity}% {icon}",
      "format-icons": [
        "  ",
        "  ",
        "  ",
        "  ",
        "  " 
      ],
      "tooltip": true
    },

    "custom/performance-mode": {
      "interval": 5,
      "format": "{}",
      "exec": "thinkpad-utils performance-mode",
      "return-type": "json",
      "tooltip": true
    },

    "tray": {
      "icon-size": 22,
      "spacing": 10
    },

    "custom/arch": {
      "format": " ",
      "tooltip": false
    }
  }
]
