/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  50% {
    color: orange;
  }
  to {
    color: #eff0eb;
  }
}

@keyframes blink-critical {
  50% {
    color: #ff5c57;
  }
  to {
    color: #eff0eb;
  }
}

@keyframes blink-idle-inhibitor {
  50% {
    color: #ff5c57;
  }
  to {
    color: #eff0eb;
  }
}

/* Reset all styles */
* {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #eff0eb;
  margin: 0;
  min-height: 0;
  padding: 0;
}

/* Tooltips */
tooltip {
  background-color: #282a36;
  border-radius: 3px;
  border: 1px solid #eff0eb;
}

tooltip label {
  color: #eff0eb;
}

/* The whole bar */
#waybar {
  background-color: #282a36;
  font-family: Cantarell, Haskplex Nerd, sans-serif;
{{- if eq .chezmoi.hostname "PF3XSEPR" }}
  font-size: 16px;
{{- else }}
  font-size: 14px;
{{- end }}
}

/* Workspaces */
#workspaces button {
  background-color: #282a36;
  padding: 0 15px;
}

#workspaces button:hover {
  background-color: #eff0eb;
}

#workspaces button.focused {
  background-color: #5af78e;
}

#workspaces button.urgent {
  background-color: #ff5c57;
}

#workspaces button:hover label,
#workspaces button.focused label {
  color: #282a36;
  font-weight: bold;
}

#workspaces button.urgent label {
  color: #282a36;
}

/* Window title in the middle */
#window label {
  font-weight: bold;
}

/* All modules */
#mode,
#mpd,
#network,
#custom-vpn,
#custom-nordlynx,
#cpu,
#memory,
#temperature,
#pulseaudio,
#tray {
  padding: 0 8px;
}

#mode {
  background-color: #686868;
}

#mpd {
  background-color: #57c7ff;
}

#mpd label {
  color: #282a36;
}

#idle_inhibitor {
  padding: 0 4px;
}

#idle_inhibitor.activated label {
  color: #ff5c57;
  animation-name: blink-idle-inhibitor;
  animation-duration: 1s;
}

#clock label {
  font-weight: bold;
}

#network.disconnected label {
  color: orange;
}

#cpu.warning label {
  color: orange;
}

#cpu.critical label {
  color: #ff5c57;
}

#battery label,
#idle_inhibitor label,
#memory label {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning label {
  color: orange;
}

#memory.critical label {
  color: #ff5c57;
  animation-name: blink-critical;
  animation-duration: 1s;
}

#temperature.critical label {
  color: #ff5c57;
}

#battery.warning label {
  color: orange;
}

#battery.critical label {
  color: #ff5c57;
}

#battery.discharging label {
  animation-duration: 1s;
}

#battery.discharging.warning label {
  animation-name: blink-warning;
}

#battery.discharging.critical label {
  animation-name: blink-critical;
}

#custom-performance-mode label {
  font-weight: bold;
}

#custom-performance-mode.low-power label {
  color: #57c7ff;
}

#custom-performance-mode.balanced label {
  color: #eff0eb;
}

#custom-performance-mode.performance label {
  color: #ff5c57;
}

#pulseaudio.muted label {
  color: orange;
}

#custom-arch label {
  color: #1793d1;
  font-size: 20px;
  padding-left: 8px;
  padding-right: 5px;
}
