# vim:fileencoding=utf-8:filetype=config
{{- if eq .chezmoi.os "linux" }}

pinentry-program /usr/bin/pinentry-gnome3

{{- else if eq .chezmoi.os "darwin" }}

pinentry-program /etc/profiles/per-user/{{ .chezmoi.username }}/bin/pinentry-mac

{{- end }}

enable-ssh-support
max-cache-ttl 3600
default-cache-ttl 3600
max-cache-ttl-ssh 3600
default-cache-ttl-ssh 3600
