# vim:fileencoding=utf-8:filetype=config
{{- if eq .chezmoi.os "linux" }}

pinentry-program /usr/bin/pinentry-gnome3

{{- else if eq .chezmoi.os "darwin" }}

# Managed by nix-darwin
pinentry-program /run/current-system/sw/bin/pinentry-mac

{{- end }}

enable-ssh-support
max-cache-ttl 3600
default-cache-ttl 3600
max-cache-ttl-ssh 3600
default-cache-ttl-ssh 3600
