# vim:fileencoding=utf-8:syntax=config
{{- if eq .chezmoi.os "linux" }}

pinentry-program /usr/bin/pinentry-gnome3

{{- else if eq .chezmoi.os "darwin" }}

# Connects gpg-agent to the OSX keychain via
# the brew-installed pinentry program from GPGtools.
# This is the OSX 'magic sauce', allowing the gpg key's passphrase
# to be stored in the login keychain, enabling automatic key signing.
pinentry-program /usr/local/MacGPG2/libexec/pinentry-mac.app/Contents/MacOS/pinentry-mac

{{- end }}

max-cache-ttl 60480000
default-cache-ttl 60480000
