-- vim:fileencoding=utf-8:filetype=lua
local utils = require("lsp.utils")

require("lspconfig").elixirls.setup {
  capabilities = utils.capabilities,
  flags = utils.default_flags,
  on_attach = utils.on_attach,

{{- if eq .chezmoi.os "linux" }}

  cmd = { "/usr/lib/elixir-ls/language_server.sh" },

{{- else if eq .chezmoi.os "darwin" }}

  cmd = { "/usr/local/Cellar/elixir-ls/0.10.0/bin/elixir-ls" },

{{- end }}
}
