-- vim:fileencoding=utf-8:filetype=lua
local utils = require("lsp.utils")

require("lspconfig").kotlin_language_server.setup {
  capabilities = utils.capabilities,
  flags = utils.default_flags,
  on_attach = utils.on_attach,

  cmd = { "{{ .chezmoi.homeDir }}/.cache/nvim/lspconfig/kotlin_language_server/kotlin-language-server" };
}
