-- vim:fileencoding=utf-8:filetype=lua
local utils = require("lsp.utils")

require("lspconfig").kotlin_language_server.setup {
  capabilities = utils.capabilities,
  flags = utils.default_flags,
  on_attach = utils.on_attach,

{{- if eq .chezmoi.os "linux" }}

  cmd = { "/usr/share/kotlin/kotlin-language-server/bin/kotlin-language-server" },

{{- else if eq .chezmoi.os "darwin" }}

  cmd = { "/usr/local/opt/kotlin-language-server/bin/kotlin-language-server" },

{{- end }}
}
