#input {
  border: 1px solid #57c7ff;
  background-color: #282a36;
  border-radius: 5px 5px 0 0;
}

#window {
  background-color: #282a36;
  border-radius: 5px;
  border: 1px solid #57c7ff;
  font-family: Cantarell;
  padding: 0;
}

#entry {
  background-color: transparent;
  padding: 5px;
}

#entry:selected {
  background-color: #57c7ff;
}

#img {
  background-color: transparent;
  padding: 0 10px;
}

#text {
  color: #eff0eb;
}

#text:selected {
  color: #282a36;
}
