[General]
buttons=@Invalid()
contrastOpacity=191
disabledTrayIcon=false
drawColor=#ff0000
filenamePattern=%F_%H-%M-%S
saveAsFileExtension=png
savePath={{ .chezmoi.homeDir }}/Screenshots
savePathFixed=false
showHelp=false
showStartupLaunchMessage=false
startupLaunch=true

[Shortcuts]
TAKE_SCREENSHOT=Ctrl+Shift+x
