-- vim:fileencoding=utf-8:filetype=lua
require "nvim-treesitter.configs".setup {
{{- if eq .chezmoi.os "darwin" }}
  ensure_installed = "maintained",
{{- else if eq .chezmoi.os "linux" }}
  ensure_installed = "all",
{{- end }}
  highlight = { enable = true },
}
