# vim:filetype=nix
{
  description = "My nix-darwin system configuration";

  inputs = {
    determinate.url = "https://flakehub.com/f/DeterminateSystems/determinate/3";
    nixpkgs.url = "github:NixOS/nixpkgs/nixpkgs-unstable";
    nixpkgs-master.url = "github:NixOS/nixpkgs/master";
    nix-homebrew.url = "github:zhaofengli/nix-homebrew";

    nix-darwin = {
      url = "github:nix-darwin/nix-darwin";
      inputs.nixpkgs.follows = "nixpkgs";
    };

    home-manager = {
      url = "github:nix-community/home-manager";
      inputs.nixpkgs.follows = "nixpkgs";
    };
  };

  outputs =
    {
      determinate,
      nix-darwin,
      nix-homebrew,
      home-manager,
      nixpkgs-master,
      ...
    }:
    let
      username = "{{ .chezmoi.username }}";
      hostname = "macintosh-{{ .machine_id }}";
      home-dir = "/Users/${username}";
    in
    {
      darwinConfigurations.${hostname} = nix-darwin.lib.darwinSystem {
        specialArgs = {
          inherit
            hostname
            username
            home-dir
            nixpkgs-master
            ;
        };
        system = "aarch64-darwin";
        modules = [
          determinate.darwinModules.default
          nix-homebrew.darwinModules.nix-homebrew
          home-manager.darwinModules.home-manager
          ./overlays.nix
          ./configuration.nix
        ];
      };
    };
}
