# vim:filetype=nix
{
  description = "My nix-darwin system configuration";

  inputs = {
    determinate.url = "https://flakehub.com/f/DeterminateSystems/determinate/3";
    nixpkgs.url = "github:NixOS/nixpkgs/nixpkgs-unstable";
    nixpkgs-nushell.url = "github:NixOS/nixpkgs?ref=eb7a08027dfdb8e814441d48e6da5b1bfd03c457";
    nix-homebrew.url = "github:zhaofengli/nix-homebrew";

    nix-darwin = {
      url = "github:nix-darwin/nix-darwin";
      inputs.nixpkgs.follows = "nixpkgs";
    };

    home-manager = {
      url = "github:nix-community/home-manager";
      inputs.nixpkgs.follows = "nixpkgs";
    };
  };

  outputs =
    {
      determinate,
      nix-darwin,
      nix-homebrew,
      home-manager,
      nixpkgs-nushell,
      ...
    }:
    let
      username = "{{ .chezmoi.username }}";
      hostname = "macintosh-{{ .machine_id }}";
      home-dir = "/Users/${username}";
    in
    {
      darwinConfigurations.${hostname} = nix-darwin.lib.darwinSystem {
        specialArgs = { inherit hostname username home-dir; };
        system = "aarch64-darwin";
        modules = [
          determinate.darwinModules.default
          nix-homebrew.darwinModules.nix-homebrew
          home-manager.darwinModules.home-manager
          (
            { pkgs, ... }:
            {
              nixpkgs = {
                overlays = [
                  (self: super: {
                    nushell =
                      (import nixpkgs-nushell {
                        system = "aarch64-darwin";
                      }).nushell;
                  })
                ];
              };
            }
          )
          ./configuration.nix
        ];
      };
    };
}
