# vim:fileencoding=utf-8:filetype=conf:foldenable:foldmethod=marker:foldmarker=[[[,]]]

# [[[ Variables

# Super key as modifier
set $mod    Mod4

# Home row direction keys, like vim
set {
  $left   h
  $down   j
  $up     k
  $right  l
}

# Extra workspaces
{{- if eq .chezmoi.hostname "lunarch" }}
set {
  $wsf1   "11:  ₁"
  $wsf2   "12:  ₂"
  $wsf3   "13:  ₃"
  $wsf4   "14:  ₄"
  $wsf5   "15:  ₅"
  $wsf6   "16:  ₆"
  $wsf7   "17:  ₇"
  $wsf8   "18:  ₈"
  $wsf9   "19:  ₉"
  $wsf10  "20:  ₁₀"
  $wsf11  "21:  ₁₁"
  $wsf12  "22:  ₁₂"
}
{{- end }}

{{- if eq .chezmoi.hostname "PF3XSEPR" }}
set {
  $wsf1   "11:  ₁"
  $wsf2   "12:  ₂"
  $wsf3   "13:  ₃"
  $wsf4   "14:  ₄"
  $wsf5   "15:  ₅"
  $wsf6   "16:  ₆"
  $wsf7   "17:  ₇"
  $wsf8   "18:  ₈"
  $wsf9   "19:  ₉"
  $wsf10  "20:  ₁₀"
  $wsf11  "21:  ₁₁"
  $wsf12  "22:  ₁₂"
}
{{- end }}

set $term foot

# Themes
set $gnome-schema org.gnome.desktop.interface
set $cursor-theme phinger-cursors
set $cursor-size 32

{{- if eq .chezmoi.hostname "PF3XSEPR" }}
set $font-size 14
{{- else }}
set $font-size 12
{{- end }}
set $font Cantarell $font-size

# Outputs
# Dell P2421D - 2560x1444@60Hz
set $dell-qhd "Dell Inc. DELL P2421DC B12WS03"

# Dell U2419H - 1920x1080@60Hz
set $dell-fhd "Dell Inc. DELL U2419H CF6CV13"

{{- if eq .chezmoi.hostname "PF3XSEPR" }}
# Thinkpad built-in monitor - 3840x2400@60Hz
set $thinkpad-uhd "eDP-1"
{{- end }}

# ]]]

# [[[ UIs

# Font family & size
font pango:$font

# Hide title bar
default_border pixel      1
default_floating_border   normal
hide_edge_borders         smart

set {
  $black  "#282a36"
  $blue   "#57c7ff"
  $gray   "#d8d8d8"
  $red    "#ff5c57"
  $white  "#eff0eb"
}

# Colors                  border  bg      text    indi    childborder
client.focused            $blue   $blue   $white  $gray   $blue
client.focused_inactive   $black  $black  $white  $black  $black
client.unfocused          $black  $black  $white  $black  $black
client.urgent             $red    $red    $white  $red    $red

# Cursors
seat seat0 xcursor_theme $cursor-theme $cursor-size

exec_always {
  gsettings set $gnome-schema gtk-theme           'Breeze-Dark'
  gsettings set $gnome-schema icon-theme          'breeze-dark'
  gsettings set $gnome-schema cursor-theme        '$cursor-theme'
  gsettings set $gnome-schema cursor-size         $cursor-size
  gsettings set $gnome-schema document-font-name  '$font'
  gsettings set $gnome-schema font-name           '$font'
  gsettings set $gnome-schema monospace-font-name 'OperatorMono Nerd Font $font-size'
}

# Force floating mode by applications
for_window {
  [app_id="blueman-assistant"]            floating enable
  [app_id="blueman-manager"]              floating enable
  [app_id="flameshot"]                    floating enable
  [app_id="galculator"]                   floating enable
  [app_id="ibus-extension-gtk3"]          floating enable
  [app_id="mpv"]                          floating enable, inhibit_idle visible
  [app_id="org.fcitx.fcitx5-config-qt"]   floating enable
  [app_id="pavucontrol"]                  floating enable
  [app_id="qalculate-gtk"]                floating enable
  [app_id="solaar"]                       floating enable
  [app_id="org.telegram.desktop"]         floating enable
  [app_id="virt-manager"]                 floating enable
  [app_id="zoom"]                         floating enable, inhibit_idle focus
  [instance="fcitx5-config-qt"]           floating enable
  [instance="megasync"]                   floating enable
  [instance="nxplayer.bin"]               floating enable
  [instance="signal"]                     floating enable
  [instance="zoom*"]                      floating enable, inhibit_idle focus
}

# Assign workspaces for non-terminal stuffs
{{- if eq .chezmoi.hostname "lunarch" }}
assign {
  [app_id="firefox(developeredition)*"]     workspace $wsf1
  [app_id="google-chrome"]                  workspace $wsf2
  [instance="google-chrome"]                workspace $wsf2
  [app_id="Slack"]                          workspace $wsf3
  [instance="slack"]                        workspace $wsf3
  [app_id="zoom"]                           workspace $wsf4
  [instance="zoom"]                         workspace $wsf4

  [app_id="org.telegram.desktop"]           workspace $wsf5
  [instance="signal"]                       workspace $wsf5
  [app_id="org.qutebrowser.qutebrowser"]    workspace $wsf6
  [app_id="thunderbird"]                    workspace $wsf6
  [app_id="geary"]                          workspace $wsf6
  [instance="postman"]                      workspace $wsf6
  [instance="spotify"]                      workspace $wsf6
}
{{- end }}

{{- if eq .chezmoi.hostname "PF3XSEPR" }}
assign {
  [app_id="firefox(developeredition)*"]     workspace $wsf1
  [app_id="google-chrome"]                  workspace $wsf2
  [instance="google-chrome"]                workspace $wsf2
  [app_id="geary"]                          workspace $wsf3
  [app_id="thunderbird"]                    workspace $wsf3
  [app_id="org.qutebrowser.qutebrowser"]    workspace $wsf4
  [instance="postman"]                      workspace $wsf5
  [instance="spotify"]                      workspace $wsf6

  [app_id="Slack"]                          workspace $wsf10
  [instance="slack"]                        workspace $wsf10
  [app_id="zoom"]                           workspace $wsf11
  [instance="zoom"]                         workspace $wsf11
  [app_id="org.telegram.desktop"]           workspace $wsf12
  [instance="signal"]                       workspace $wsf12
}
{{- end }}

# ]]]

# [[[ Input configuration

# Custom keymaps
input {
  type:keyboard xkb_file ~/.config/sway/keymaps/default.xkb
  type:pointer natural_scroll enabled
  type:touchpad natural_scroll enabled
}

input "19266:24672:qmkbuilder_KBD75" {
  xkb_file ~/.config/sway/keymaps/kbd75.xkb
}

{{- if eq .chezmoi.hostname "PF3XSEPR" }}

# Thinkpad keyboard
input "1:1:AT_Translated_Set_2_keyboard" {
  xkb_file ~/.config/sway/keymaps/thinkpad.xkb
}

# Thinkpad trackpad
input "1739:52824:SYNA8008:00_06CB:CE58_Touchpad" {
  dwt enabled
  tap enabled
}

{{- end }}

# ]]]

# [[[ Output configuration

# Default wallpaper
output * bg ~/.config/wallpapers/arch-snow-1920x1080.png fill

{{- if eq .chezmoi.hostname "lunarch" }}

# Dell P2421DC - 2560x1444@60Hz
output $dell-qhd {
  bg ~/.config/wallpapers/lukasz-szmigiel-unsplash-qhd.jpg fill
  position 0 0
}

# Dell U2419H - 1920x1080@60Hz
output $dell-fhd {
  bg ~/.config/wallpapers/lukasz-szmigiel-unsplash-fhd.jpg fill
  position 2560 0
}

workspace {
  1 output $dell-qhd
  2 output $dell-qhd
  3 output $dell-qhd
  4 output $dell-qhd
  5 output $dell-qhd
  6 output $dell-qhd
  7 output $dell-qhd
  8 output $dell-qhd
  9 output $dell-qhd
  10 output $dell-qhd
}

workspace {
  $wsf1 output $dell-fhd
  $wsf2 output $dell-fhd
  $wsf3 output $dell-fhd
  $wsf4 output $dell-fhd
  $wsf5 output $dell-fhd
  $wsf6 output $dell-fhd
  $wsf7 output $dell-fhd
  $wsf8 output $dell-fhd
  $wsf9 output $dell-fhd
  $wsf10 output $dell-fhd
  $wsf11 output $dell-fhd
  $wsf12 output $dell-fhd
}

{{- end }}

{{- if eq .chezmoi.hostname "PF3XSEPR" }}

# Thinkpad built-in monitor - 3840x2400@60Hz
output $thinkpad-uhd {
  bg ~/.config/wallpapers/x1c-g9-3840x2400.png fill
  position 0 600
  scale 2
}

# Dell P2421DC - 2560x1444@60Hz
output $dell-qhd {
  bg ~/.config/wallpapers/lukasz-szmigiel-unsplash-qhd.jpg fill
  position 1920 200
}

# Dell U2419H - 1920x1080@60Hz
output $dell-fhd {
  bg ~/.config/wallpapers/lukasz-szmigiel-unsplash-fhd.jpg fill
  transform 270
  position 4480 0
}

workspace {
  1 output $dell-qhd
  2 output $dell-qhd
  3 output $dell-qhd
  4 output $dell-qhd
  5 output $dell-qhd
  6 output $dell-qhd
  7 output $dell-qhd
  8 output $dell-qhd
  9 output $dell-qhd
  10 output $dell-qhd
}

workspace {
  $wsf1 output $thinkpad-uhd
  $wsf2 output $thinkpad-uhd
  $wsf3 output $thinkpad-uhd
  $wsf4 output $thinkpad-uhd
  $wsf5 output $thinkpad-uhd
  $wsf6 output $thinkpad-uhd
  $wsf7 output $thinkpad-uhd
  $wsf8 output $thinkpad-uhd
  $wsf9 output $thinkpad-uhd

  $wsf10 output $dell-fhd
  $wsf11 output $dell-fhd
  $wsf12 output $dell-fhd
}

{{- end }}

# ]]]

# [[[ Idle & lock

exec swayidle -d -w 2>> ~/.logs/swayidle.log

# ]]]

# [[[ Key bindings - basic

# Preferred terminal
bindsym $mod+Return exec $term

# Kill focused window
bindsym $mod+Shift+q kill

# Reload the configuration file
bindsym $mod+Shift+c reload

# Lock immediately
bindsym $mod+Ctrl+q exec swaylock

# Launchers
bindsym {
  # App launcher
  $mod+d exec j4-dmenu-desktop --dmenu="bemenu-utils launcher" --term=$term

  # Calc
  $mod+Equal exec bemenu-utils calc

  # Fcitx5 quickphrase picker
  Ctrl+Alt+e exec bemenu-utils quickphrase

  # Emoji picker
  Ctrl+Alt+Shift+e exec bemenu-utils emoji

  # Pass
  $mod+Shift+p exec bemenu-utils pass
}

# Open wofi as apps launcher, configured at $XDG_CONFIG_HOME/wofi/config
bindsym $mod+Space exec wofi

# Clear all notifications
bindsym $mod+Ctrl+a exec makoctl dismiss --all

bindsym --release {
  # Capture screenshot of the focused output
  $mod+Ctrl+3 exec /usr/share/sway/scripts/grimshot copy output && wl-paste | swappy -f - && wl-copy --clear

  # Capture screenshot of the focused window
  $mod+Ctrl+4 exec /usr/share/sway/scripts/grimshot copy window && wl-paste | swappy -f - && wl-copy --clear

  # Capture screenshot of an area
  $mod+Ctrl+5 exec /usr/share/sway/scripts/grimshot copy area && wl-paste | swappy -f - && wl-copy --clear
}

# Drag floating windows by holding down $mod and left mouse button.
# Resize them with right mouse button + $mod.
# Despite the name, also works for non-floating windows.
# Change normal to inverse to use left mouse button for resizing and right
# mouse button for dragging.
floating_modifier $mod normal

# ]]]

# [[[ Key bindings - moving around

bindsym {
  # Move between windows
  $mod+$left focus left
  $mod+$down focus down
  $mod+$up focus up
  $mod+$right focus right

  $mod+Left focus left
  $mod+Down focus down
  $mod+Up focus up
  $mod+Right focus right

  # Move focused window
  $mod+Shift+$left move left
  $mod+Shift+$down move down
  $mod+Shift+$up move up
  $mod+Shift+$right move right

  $mod+Shift+Left move left
  $mod+Shift+Down move down
  $mod+Shift+Up move up
  $mod+Shift+Right move right
}

# ]]]

# [[[ Key bindings - workspaces

# Switch to workspace
bindsym {
  $mod+1 workspace number 1
  $mod+2 workspace number 2
  $mod+3 workspace number 3
  $mod+4 workspace number 4
  $mod+5 workspace number 5
  $mod+6 workspace number 6
  $mod+7 workspace number 7
  $mod+8 workspace number 8
  $mod+9 workspace number 9
  $mod+0 workspace number 10

  $mod+F1 workspace $wsf1
  $mod+F2 workspace $wsf2
  $mod+F3 workspace $wsf3
  $mod+F4 workspace $wsf4
  $mod+F5 workspace $wsf5
  $mod+F6 workspace $wsf6
  $mod+F7 workspace $wsf7
  $mod+F8 workspace $wsf8
  $mod+F9 workspace $wsf9
  $mod+F10 workspace $wsf10
  $mod+F11 workspace $wsf11
  $mod+F12 workspace $wsf12
}

# Move focused container to workspace
bindsym {
  $mod+Shift+1 move container to workspace number 1, workspace 1
  $mod+Shift+2 move container to workspace number 2, workspace 2
  $mod+Shift+3 move container to workspace number 3, workspace 3
  $mod+Shift+4 move container to workspace number 4, workspace 4
  $mod+Shift+5 move container to workspace number 5, workspace 5
  $mod+Shift+6 move container to workspace number 6, workspace 6
  $mod+Shift+7 move container to workspace number 7, workspace 7
  $mod+Shift+8 move container to workspace number 8, workspace 8
  $mod+Shift+9 move container to workspace number 9, workspace 9
  $mod+Shift+0 move container to workspace number 10, workspace 10

  $mod+Shift+F1 move container to workspace $wsf1, workspace $wsf1
  $mod+Shift+F2 move container to workspace $wsf2, workspace $wsf2
  $mod+Shift+F3 move container to workspace $wsf3, workspace $wsf3
  $mod+Shift+F4 move container to workspace $wsf4, workspace $wsf4
  $mod+Shift+F5 move container to workspace $wsf5, workspace $wsf5
  $mod+Shift+F6 move container to workspace $wsf6, workspace $wsf6
  $mod+Shift+F7 move container to workspace $wsf7, workspace $wsf7
  $mod+Shift+F8 move container to workspace $wsf8, workspace $wsf8
  $mod+Shift+F9 move container to workspace $wsf9, workspace $wsf9
  $mod+Shift+F10 move container to workspace $wsf10, workspace $wsf10
  $mod+Shift+F11 move container to workspace $wsf11, workspace $wsf11
  $mod+Shift+F12 move container to workspace $wsf12, workspace $wsf12
}

# Quickly move to relative workspaces
bindsym {
  $mod+Ctrl+bracketleft workspace prev_on_output
  $mod+Ctrl+bracketright workspace next_on_output
}

# ]]]

# [[[ Key bindings - layout stuff

bindsym {
  # Split horizontally and vertically
  $mod+b splith
  $mod+v splitv

  # Switch the current container between different layout styles
  $mod+s layout stacking
  $mod+w layout tabbed
  $mod+e layout toggle split

  # Make the current focus fullscreen
  $mod+f fullscreen

  # Toggle the current focus between tiling and floating mode
  $mod+Shift+space floating toggle

  # Swap focus between the tiling area and the floating area
  $mod+tab focus mode_toggle

  # Move focus to the parent container
  $mod+a focus parent
}

# ]]]

# [[[ Key bindings - Scratchpad

bindsym {
  # Move the currently focused window to the scratchpad
  $mod+Shift+minus move scratchpad

  # Show the next scratchpad window or hide the focused scratchpad window.
  # If there are multiple scratchpad windows, this command cycles through them.
  $mod+minus scratchpad show
}

# ]]]

# [[[ Key bindings - resize mode

mode "resize" {
  bindsym {
    $left resize shrink width 10px
    $down resize grow height 10px
    $up resize shrink height 10px
    $right resize grow width 10px

    left resize shrink width 10px
    down resize grow height 10px
    up resize shrink height 10px
    right resize grow width 10px

    Shift+$left resize shrink width 100px
    Shift+$down resize grow height 100px
    Shift+$up resize shrink height 100px
    Shift+$right resize grow width 100px

    Shift+left resize shrink width 100px
    Shift+down resize grow height 100px
    Shift+up resize shrink height 100px
    Shift+right resize grow width 100px
  }

  # Return or escape to default mode
  bindsym {
    return mode "default"
    escape mode "default"
  }
}

bindsym $mod+r mode "resize"

# ]]]

# [[[ Key bindings - system mode

set $mode-system System: (L)ock | (E)xit | (R)eboot | (S)hutdown

mode "$mode-system" {
  bindsym {
    Shift+l exec swaylock, mode "default"
    Shift+e exit
    Shift+r exec systemctl reboot, mode "default"
    Shift+s exec systemctl poweroff -i, mode "default"
  }

  # Escape to default mode
  bindsym {
    escape mode "default"
  }
}

bindsym $mod+Shift+e mode "$mode-system"

# ]]]

# [[[ Key bindings - media

bindsym --locked {
  # Play previous
  XF86AudioPrev exec mpc prev
  # Toggle play/pause
  XF86AudioPlay exec mpc toggle
  # Play next
  XF86AudioNext exec mpc next
}

{{- if eq .chezmoi.hostname "lunarch" }}

bindsym --locked {
  # F10 - Toggle mute/unmute volume
  XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
  # Shift F10 - Toggle mute/unmute microphone
  XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
  # F11 - Decrease volume by 5%
  XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
  # F12 - Increase volume by 5%
  XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
}

{{- end }}

{{- if eq .chezmoi.hostname "PF3XSEPR" }}

bindsym --locked {
  # F1 - Toggle mute/unmute volume
  XF86AudioMute exec brightness-utils toggle-audio-mute && \
    pactl set-sink-mute @DEFAULT_SINK@ toggle
  # F2 - Decrease volume by 5%
  XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
  # F3 - Increase volume by 5%
  XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
  # F4 - Toggle mute/unmute microphone
  XF86AudioMicMute exec brightness-utils toggle-mic-mute && \
    pactl set-source-mute @DEFAULT_SOURCE@ toggle

  # F5 - Decrease screen backlight by 5%
  XF86MonBrightnessDown exec brightnessctl --device=intel_backlight set 5%-
  # F6 - Increase screen backlight by 5%
  XF86MonBrightnessUp exec brightnessctl --device=intel_backlight set +5%
}

{{- end }}

# ]]]

# [[[ Key bindings - special switches

# Lock immediately when close the lid
bindswitch lid:on exec swaylock

# ]]]

# [[[ Status bar

bar {
  swaybar_command waybar
}

# ]]]

# [[[ Start-up items

# Clipboard manager
exec wl-paste \
  -t text \
  --watch clipman store \
  --max-items=60 \
  1>> ~/.logs/clipman.log 2>&1 &

# Autostart applications
exec dex --autostart

# ]]]

# [[[ System configurations

include /etc/sway/config.d/*

# Pure Wayland environment
#xwayland disable

# For flameshot
exec systemctl --user import-environment DISPLAY WAYLAND_DISPLAY SWAYSOCK
exec hash dbus-update-activation-environment 2>/dev/null && \
     dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK

# ]]]
