# vim:filetype=gitconfig
[user]
  name = Thanh Nguyen
  email = thanh.nguyen@neo4j.com
  signingKey = ~/.ssh/id_ecdsa.pub
[url "git@github.com:neo-technology"]
  insteadOf = https://github.com/neo-technology
[core]
  excludesfile = ~/.gitignore-global
  autocrlf = false
[gpg]
  format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
  gpgsign = true
[tag]
  gpgsign = true
