# vim:filetype=gitconfig
[user]
  name = Thanh Nguyen
  email = {{ .work_email }}
  signingKey = ~/.ssh/id_ecdsa.pub
[url "git@github.com:{{ .work_repo_alpha }}"]
  insteadOf = https://github.com/{{ .work_repo_alpha }}
[url "git@github.com:{{ .work_repo_beta }}"]
  insteadOf = https://github.com/{{ .work_repo_beta }}
[core]
  excludesfile = ~/.gitignore-global
  autocrlf = false
[gpg]
  format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
  gpgsign = true
[tag]
  gpgsign = true
